*~
.classpath
.project
.settings/
lib/
logs/
target/
bin/
.DS_Store
.metadata
*.log
*.log.*
.idea/
*.iml
.vagrant/
.#*
config_center_client.log
.svn
rebel.xml
rebel-remote.xml
category-brand-web-info.*
category-brand-web-error.*